<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AppDbContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="TerminalsDuplexEndPoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62754/WebService.svc" binding="wsDualHttpBinding"
        bindingConfiguration="TerminalsDuplexEndPoint" contract="WebServiceReference.IWebService"
        name="TerminalsDuplexEndPoint">
        <identity>
          <userPrincipalName value="DESKTOP-O103LSL\user" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>